<div class="Navbar">
    <div class="all">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="logo"></div>
    <div  class="nav-search">
        <input type="text" id="search" class="search-input" placeholder="Search Products">
        <div class="search-logo">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
    <div class="cart">
        <i class="fa-solid fa-cart-shopping"></i>
    </div>
    <div class="account border">
        <i class="fa-regular fa-user"></i>
        <p>Sign in</p>
    </div>
</div>