<div class="Sidebar">
    <div class="all">
        <i class="fa-solid fa-x"></i>
    </div>
    <div class="Category">
        <h2>Category</h2>
        <ul>
            <li>Men's Wear</li>
            <li>Women's Wear</li>
            <li>Electronics</li>
            <li>Jewellery</li>
        </ul>
    </div>
    <div class="Popular">
        <h2>Popular</h2>
        <ul>
            <li>Featured Products</li>
            <li>Best Sellers</li>
            <li>New Arrivals</li>
            <li>Top Rated</li>
        </ul>
    </div>
    <div class="Account">
        <h2>Account</h2>
        <ul>
            <li>My Orders</li>
            <li>Wishlist</li>
            <li>Sign in</li>
        </ul>
    </div>
    <div class="FAQs">
        <h2>FAQs</h2>
        <h2>About Us</h2>
    </div>
</div>
