footer {
    margin-top: 25px;
    justify-content: end;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #FFFFFF; /* White text for footer */
}

.Up {
    align-self: center;
    height: 30px;
    width: 50px;
    justify-content: center;
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.Up:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

.Up i {
    color: #1E3A8A;
    font-size: xx-large;
}

.Foot-container {
    background-color: #1E3A8A;
    height: 620px;
    width: 100%;
}

h3 {
    padding-bottom: 10px;
}

.panel-1 {
    margin-left: 30px;
    align-self: center;
    justify-content: space-evenly;
    display: flex;
    margin-top: 60px;
    color: #F9FAFB;
    font-size: small;
}

.About, .quick, .contact, .GTK { 
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 30px;
}

.quick a, .contact span, .contact span a ,.GTK a{
    margin-bottom: 20px;
    color: #F9FAFB;
    text-decoration: none;
}

.foot-line {
    border-top: 1px solid #F9FAFB;
    margin-top: 40px;
    width: 100%;
}
.panel-2 {
    align-self: center;
    justify-content: space-evenly;
    display: flex;
    margin-top: 60px;
    color: #F9FAFB;
}
.pay-method
{
    justify-content: space-evenly;
}
.pay-method i
{
    font-size: xx-large;
    padding-right: 5px;
}
.panel-3
{
    margin-top: 80px;
    height:120px;
    background-color: #172B66;
    align-content:center;
}
.handles i
{
    font-size: x-large;
    margin-top: 5px;
}
.handles
{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.panel-3 p
{
    display: flex;
    font-size: smaller;
    justify-content:right;
}